body{
    width: 50%;
}

.buttons {
    display: flex;
    flex-direction: row;
}

button {
    margin: 0;
    background-color: burlywood;
    width: 100%;
    border: 1px solid rgb(182, 150, 108);
}

#info {
    background-color: rgb(247, 229, 205);
    width: auto;
    height: 300px;
    border-bottom: 3px solid burlywood;
    border-right: 3px solid burlywood;
    border-left: 3px solid burlywood;
}