* {
  margin: 0;
  padding: 0;
}

.main_list {
  background: -webkit-gradient(linear, left top, left bottom, from(#020060), to(#085fe2));
  background: linear-gradient(#020060, #085fe2);
  width: 100vw;
  height: 100vh;
  padding-top: 5%;
  padding-bottom: 5%;
}

.main_list__list_header {
  background-color: #1202a3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border: 2px solid white;
  background-image: url("./images/list_header_fon_1.png");
  width: 70vw;
  padding-top: 100px;
  background-size: contain;
  margin: auto;
  padding: 3% 1% 1% 1%;
}

.main_list__list_header .main_list__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_list__list_header .main_list__name h1 {
  font-family: 'Waterfall', cursive;
  color: white;
  font-size: 4rem;
}

.main_list__list_header .main_list__name div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main_list__list_header .main_list__name div #plusTask {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
  margin-bottom: 5px;
  background-color: #03206e;
}

.main_list__list_header .main_list__name div #plusTask:hover {
  opacity: 1;
}

.main_list__list_header .main_list__name div #main_list__sortByPriority #sortByPriority {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
  text-align: center;
}

.main_list__list_header .main_list__name div #main_list__sortByPriority #sortByPriority:hover {
  opacity: 1;
}

.main_list__list_header div #all {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
  margin-right: 3px;
  opacity: 1;
}

.main_list__list_header div #all:hover {
  opacity: 1;
}

.main_list__list_header div #active {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
  margin-right: 3px;
}

.main_list__list_header div #active:hover {
  opacity: 1;
}

.main_list__list_header div #finished {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
}

.main_list__list_header div #finished:hover {
  opacity: 1;
}

.content {
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid white;
  width: 70vw;
  padding-top: 100px;
  background-size: contain;
  margin: auto;
  padding: 3% 1% 1% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.content .content__form {
  width: 100%;
}

.content .content__form .content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content .content__form .content__item .content__cross, .content .content__form .content__item .content__check_mark, .content .content__form .content__item .content__pencil {
  opacity: 0.7;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.content .content__form .content__item .content__cross:hover, .content .content__form .content__item .content__check_mark:hover, .content .content__form .content__item .content__pencil:hover {
  opacity: 1;
}

.content .content__form .content__item .content__task {
  background-color: #8daff7;
  border-radius: 30px;
  border: 2px solid #031b58;
  font-family: 'Inter', sans-serif;
  width: 100%;
  margin: 5px 10px 5px 10px;
  padding: 5px;
  color: #fdfdfd;
  -webkit-text-decoration-color: #fdfdfd;
          text-decoration-color: #fdfdfd;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content .content__form .content__item .content__task:focus {
  background-color: white;
}

.content button {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
  border-color: #0000CD;
  margin-top: 10px;
}

.content button:hover {
  opacity: 1;
}

#plusTaskForm {
  position: absolute;
  width: 200px;
  height: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  background-color: #7381fd;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(2, 18, 71, 0.7);
  position: fixed;
  z-index: 1;
}

.modal #plusTaskForm {
  position: absolute;
  width: 430px;
  height: 230px;
  left: calc(50% - 215px);
  top: calc(50% - 115px);
  background-color: #d0dcfc;
  background-image: url("./images/list_header_fon_1.png");
  background-size: cover;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 30px;
  font-family: 'Inter', sans-serif;
  color: #e2e4f7;
  border: 2px solid white;
}

.modal #plusTaskForm #taskText {
  height: 25px;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
}

.modal .modal_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal .modal_buttons #addBtn, .modal .modal_buttons #cancelBtn {
  width: 8rem;
  border-radius: 30px;
  border: 2px solid white;
  font-family: 'Inter', sans-serif;
  color: white;
  opacity: 0.7;
  background-color: #4169E1;
}

.modal .modal_buttons #addBtn:hover, .modal .modal_buttons #cancelBtn:hover {
  opacity: 1;
}

.display-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */